[submodule "home/stachel/desktop/hyprland-material/hyprland/home/stachel/desktop/hyprland-material/hyprland/scripts/hyprland-smart-borders"]
	path = home/stachel/desktop/hyprland-material/hyprland/home/stachel/desktop/hyprland-material/hyprland/scripts/hyprland-smart-borders
	url = https://github.com/devadathanmb/hyprland-smart-borders
