[gcode_macro PRINT_START]
gcode:
    # Parameters
    {% set BED_TEMP = params.BED|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|float %}
    {% set CHAMBER_TEMP = params.CHAMBER|default(0)|float %}
    {% set MESH_MIN = params.MESH_MIN|default("40,40")|string %}
    {% set MESH_MAX = params.MESH_MAX|default("310,310")|string %}
    {% set MESH_ALGO = params.MESH_ALGO|default("bicubic")|string %}

    SET_GCODE_OFFSET Z=0                                 # Set offset to 0

    SET_DISPLAY_TEXT MSG="Preparing Print..."
    _CG28                            # home all axes
    G90                            # absolute positioning 

  # Check if the bed temp is higher than 85c - if so then trigger a heatsoak.
  {% if params.BED|int >= 85 %}
    BEDFANSSLOW
    SET_DISPLAY_TEXT MSG="Heating Bed To {BED_TEMP}ºC"           # Display info on display
    #STATUS_HEATING                                      # Set LEDs to heating-mode
    M106 S255                                           # Turn on the part cooling fan

    G1 X175 Y175 Z25 F9000                    # Go to center of the bed
    M190 S{BED_TEMP}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoaking Chamber To {CHAMBER_TEMP}ºC"  # Display info on display

    BEDFANSFAST
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={CHAMBER_TEMP}   # Waits for chamber temp

    SET_DISPLAY_TEXT MSG="Stabilizing Temperature For 10 Min"
    G4 P60000
    SET_DISPLAY_TEXT MSG="Stabilizing Temperature For 9 Min"
    G4 P60000
    SET_DISPLAY_TEXT MSG="Stabilizing Temperature For 8 Min"
    G4 P60000
    SET_DISPLAY_TEXT MSG="Stabilizing Temperature For 7 Min"
    G4 P60000
    SET_DISPLAY_TEXT MSG="Stabilizing Temperature For 6 Min"
    G4 P60000
    SET_DISPLAY_TEXT MSG="Stabilizing Temperature For 5 Min"
    G4 P60000
    SET_DISPLAY_TEXT MSG="Stabilizing Temperature For 4 Min"
    G4 P60000
    SET_DISPLAY_TEXT MSG="Stabilizing Temperature For 3 Min"
    G4 P60000
    SET_DISPLAY_TEXT MSG="Stabilizing Temperature For 2 Min"
    G4 P60000
    SET_DISPLAY_TEXT MSG="Stabilizing Temperature For 1 Min"
    G4 P60000
    
  # If the bed temp is not over 85c, then skip the heatsoak and just heat up to set temp with a 5 min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Heating Bed To {BED_TEMP}ºC"           # Display info on display
    #STATUS_HEATING                                      # Set LEDs to heating-mode
    G1 X175 Y175 Z15 F9000                    # Go to center of the bed
    M190 S{BED_TEMP}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoaking For 5 min"              
    G4 P60000   
    SET_DISPLAY_TEXT MSG="Heatsoaking For 4 min"               
    G4 P60000
    SET_DISPLAY_TEXT MSG="Heatsoaking For 3 min"               
    G4 P60000
    SET_DISPLAY_TEXT MSG="Heatsoaking For 2 min"               
    G4 P60000
    SET_DISPLAY_TEXT MSG="Heatsoaking For 1 min"               
    G4 P60000
  {% endif %}
    SET_DISPLAY_TEXT MSG="Quad Gantry Leveling"
    G28 Z                          # home z again once extruder and bed are warm
    QUAD_GANTRY_LEVEL              # level Gantry
    G28 Z                          # home z again after QGL

    G1 X175 Y175 # go to center again
    
    SET_DISPLAY_TEXT MSG="Heating Hotend To 145ºC For Probing"                   # display info on display
    M109 S145                      # set extruder to 145 for probing
    G4 P30000                      # settle temperatures for 30 seconds
    
    SET_DISPLAY_TEXT MSG="Cartographer Touch"
    CARTOGRAPHER_TOUCH_HOME

    SET_DISPLAY_TEXT MSG="Creating Bed Mesh"
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE ADAPTIVE=1

    SET_DISPLAY_TEXT MSG="Heating Hotend To {EXTRUDER_TEMP}ºC"
    G1 X10 Y10 F9000 # go to hotend heating location
    M107
    M109 S{EXTRUDER_TEMP}          # set and wait for hot end to reach temp

    SET_DISPLAY_TEXT MSG="Printing..."                 # Display info on display
    # STATUS_PRINTING                                 # Set LEDs to printing-mode
    SET_LED LED=toolhead_rgb RED=1.0 BLUE=1.0 GREEN=1.0 WHITE=1.0 TRANSMIT=0
    SET_LED INDEX=1 LED=toolhead_rgb BLUE=1.0
    G1 X{175 - 50} Y4 F9000                           # Go to starting point
    G1 Z0.4                                               # Raise Z to 0.4
    G91                                                   # Incremental positioning 
    G1 X100 E20 F1000                                     # Primeline
    G90                                                   # Absolute position
