# Octopus Pro V1.2 MCU Settings
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_24002E000C51313339373836-if00
restart_method: command

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF4

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100
