# Cartographer V3 Probe
[mcu cartographer]
canbus_uuid: b2b7f03dd539

[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 26.96

[cartographer scan]

[cartographer touch]

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 0
max_temp: 105

[adxl345]
cs_pin: cartographer:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20

[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0
