.bar {
    margin: 0.5em 1em;
}

.bar.background {
    background-color: transparentize($surface, 0.2);
}

.workspaces-widget {
    background-color: transparentize($on_surface, 0.92);
    border-radius: 100px;
    padding: 0.5em 1em;

    .workspace-entry {
        //background-color: $on_surface_variant;
        background-color: transparentize(#fff, 0.83);
        border-radius: 100px;
        min-height: 1em;
        min-width: 1em;
    }

    .current {
        background-color: $primary;
    }
}

.status-widget {
    background-color: transparentize($on_surface, 0.92);
    border-radius: 100px;
    padding: 0.4em 1em;

    .status-icon {
        color: $primary;
        /*background-color: $surface_container_high;*/
        border-radius: 100px;
        min-width: 1.2em;
        min-height: 1.2em;
    }
}

.menu-widget {
    .menu-entry {
       background-color: transparentize($on_surface, 0.92);
       min-width: 4em;
       margin: 0 0.1em 0 0.1em;

       .icon {
           padding: 0 0.4em 0 0.4em;
       }

       .Charging {
           padding: 0 0.6em 0 0.4em;
       }

       .text {
           padding: 0 0.6em 0 0;
       }
    }

    .first-entry {
        margin: 0 0.4em 0 0;
        border-radius: 100px 20px 20px 100px;
        background-color: $primary;
        color: $on_primary;

    }

    .second-entry { 
        border-radius: 4px;
    }

    .third-entry {
        margin: 0 0 0 0.4em;
        border-radius: 20px 100px 100px 20px;
        background-color: $secondary;
        color: $on_secondary;
    }
}

.launcher-button {
    background-color: $primary;
    min-width: 1em;
    min-height: 1em;
    border-radius: 100px;

    .launcher-button-icon {
        background-color: $on_primary;
        border-radius: 100px;
    }
}
