[include hardware/*.cfg]
[include hardware/boards/*.cfg]
[include macros/*.cfg]

[printer]
kinematics: corexy
max_velocity: 750
max_accel: 10000
max_z_velocity: 30
max_z_accel: 350
square_corner_velocity: 5.0

[idle_timeout]
timeout: 1800

[gcode_arcs]

[exclude_object]

[respond]

[display_status]

[virtual_sdcard]
path: /var/lib/moonraker/gcodes
on_error_gcode: CANCEL_PRINT

[save_variables]
filename: ./variables.cfg

[gcode_macro _CLIENT_VARIABLE]
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.332
#*# pid_ki = 2.569
#*# pid_kd = 287.283
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.213
#*# pid_ki = 1.739
#*# pid_kd = 77.475
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 56.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 38.2
#*#
#*# [cartographer]
#*# z_backlash = 0.00535
#*#
#*# [axis_twist_compensation]
#*# z_compensations = -0.009458, 0.000515, 0.006643, 0.006340, -0.004041
#*# compensation_start_x = 40.0
#*# compensation_end_x = 310.0
#*# zy_compensations = 0.032887, 0.004897, -0.014088, -0.008662, -0.015034
#*# compensation_start_y = 40.0
#*# compensation_end_y = 283.04
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4256770392449876,1.907333846985832,0.8420633135901755,0.3881273704027051,0.4999345187632132,0.5974599156178207,-0.32813336855097874,-0.5760667210642284,0.3594032452808096,0.3829968250267872
#*# domain = 3.179843648170192e-07,3.3290049088151714e-07
#*# z_offset = 0
#*# reference_temperature = 28.13
#*#
#*# [cartographer coil]
#*# calibration = 3.330032199005861e-05,-2.8911486772319543,-0.0026486869084072938,261.91813530285793
#*#
#*# [cartographer touch_model default]
#*# threshold = 1494
#*# speed = 2.0
#*# z_offset = -0.06
